<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" href="./../../../../style.css">
    <script src="https://kit.fontawesome.com/1d3cc8e299.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="fx f1 fx-col bg-ghost bd-none no-select">

        <!-- Top Dragable -->
        <window-manager></window-manager>

        <div class="txt-c mt15">
            *Entrez le code de validation envoyé à :
            <br>
            <span class="ft-bold">*exem********@gmail.com</span>
        </div>

        <form class="fx f1 fx-col" action="">

            <input class="txt-input txt-c mt15 ptb10 mlr-auto" style="width: 33%;" type="text" name="code" id="code" placeholder="*CODE" minlength="6" maxlength="6" >

            <div class="fx fx-row mt20">
                <div class="f1 txt-c">
                    <button class="btn light shadow ml15 h-shadow">*Renvoyer un code</button>
                </div>
                <div class="f1 txt-c">
                    <input class="btn info shadow mr15 h-shadow" type="submit" name="connexion" id="connexion" value="*Envoyer">
                </div>
            </div>
            
            <div class="fx fx-row mb15">
                <a class="f1 txt-c mt15 ft-b txt-h" style="font-size: 14px;">*Je n'ai accès à mon email ?</a>
            </div>  
             
        </form>         

    </div>

    <!-- JS -->
    <script src="./../../../../App/Web/Scripts/Core/Loader.js"></script>    
</body>
</html>