<div class="f1 fx fx-col light bd-light no-select">
        
    <!-- Title -->
    <div class="plr25">
        <h2>*Social</h2>
    </div>

    <!-- News -->
    <div class="f1 fx fx-row ghost of-x" style="max-height: 542px;">
        <div class="fx w250 fx-col dark txt-c of-y">
            <div class="fx fx-col of-y txt-l">
                <button class="f1 info h-info ptb10">*Search</button>
                <friends class="fx fx-col of-y info" style="height: 512px;">
                    <!-- Friend List -->
                </friends>
            </div>
        </div>
        <social-right class="f1 fx fx-col dark of-y">
        </social-right>
    </div>    
</div>