<div class="fx fx-row shadow z4 bg-light" id="windows-bar" drag-window >
    <div class="f1">
        <span class="ft-dark ft-bold ml5">NS Launcher</span>
    </div>
    <div class="f1 txt-r z2">

        <!-- Minimize -->
        <button 
            onclick="component.MinimizeCurrentWindow()" 
            drag-window-none 
            class="ptb2 mb2 br5 ft-dark bg-none h-shadow" 
            style="padding-bottom: 0px;">
            <i class="far fa-window-minimize"></i>
        </button>

        <!-- Close -->
        <button 
            onclick="component.CloseCurrentWindow()" 
            drag-window-none 
            class="ptb2 mr2 mb2 br5 ft-dark bg-none h-shadow" 
            style="padding-bottom: 0px;">
            <i class="fas fa-times"></i>
        </button>

    </div>
</div>
