<button class="fx fx-row bd-bot light bdc-ghost w100p h-lighter p10 hft">
    <img class="logo p0 pr10 m-auto" src="./../../../../App/Web/Sources/Images/NS.png">
    <div class="fx fx-col f1 txt-l p10 ghost br5 ft-dark">
        <nickname class="ft-bold">${{nickname}}</nickname>
        <div class="fx fx-row">
            <div class="bd-dark mlr5" style="background: #00ff00; border-radius: 10px; width: 10px; height: 10px;"></div>
            <status>${{status}}</status>
        </div>
    </div>
</button>