<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" href="./../../../../style.css">
    <script src="https://kit.fontawesome.com/1d3cc8e299.js"></script>
</head>
<body drag-window>
    <div class="fx f1 fx-col bg-ghost bd-none no-select">

        <!-- NS Logo -->
        <div class="txt-c mt35">
            <img class="logo-l mb15" src="./../../../../App/Web/Sources/Images/NS-flat.png" alt="NEYHOS|Studio"><br>
            <span>*Mise à jour du launcher...</span>
        </div>
        
        <!-- Download Bar -->
        <div class="w100p h5 mb0 mt50 ghost">                    
            <div class="h100p info" style="width: 50%"></div>   
        </div>

    </div>  
        
    <!-- JS -->
    <script src="./../../../../App/Web/Scripts/Core/Loader.js"></script>      
</body>
</html>