<div class="hft p25 fx fx-row">
    <!-- Download Bar -->
    <div class="f1 h15 mt5 bd-ghost mr35 ghost">                    
        <div class="h100p info" style="width: 50%"></div>         
        <div class="h100p fx fx-row w100p bg-none">
            <span class="f1 ft-dark">*25,13 MBps</span>
            <span class="f1 txt-c ft-dark">*15,6 Go / 31,2 Go</span>
            <span class="f1 txt-r ft-dark">*50%</span>
        </div>
    </div>
    <!-- Launch button -->
    <button class="btn warn shadow h-shadow">*Download</button>
</div>