<div class="of-y txt-l">
        <h1 class="txt-c">*Patch note 0.0.0</h1>
        <hr>
        <h4>*Intruduction</h4>
        <p>*This is an example of game last patch note. It allow you to display information inside the container to hold on user up to date with the last patch of the game.</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
        <hr>
        <h4>*New Game Feature</h4>
        <p>*We have created a new feature for you. This simple example show you simple format to put inside this</p>
</div>